@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2.9rem;
}

.bookingbutton, .button {
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  border-radius: 200px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
  height: 45px;
  width: 200px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  opacity: 1;
}
.bookingbutton:hover, .button:hover {
  opacity: 0.8;
  transition: 300ms;
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

.footer {
  padding: 2rem;
  background-color: #353535;
}
@media (min-width: 1000px) {
  .footer {
    padding-top: 5rem;
    padding-bottom: 20rem;
    height: 20rem;
  }
}
.footer__links {
  flex-direction: column;
  justify-content: space-between;
}
.footer__title h2 {
  margin-bottom: 1.5rem;
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  color: white;
}
.footer__link {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
}
.footer__link i {
  margin-right: 0.5rem;
  color: white;
}
.footer__link a {
  color: white;
  text-decoration: none;
}

.header {
  height: 7rem;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: #FAFAFA;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  height: 50px;
}
.location__city {
  margin-left: 13px;
  font-weight: 500;
  font-size: 1.5rem;
}
.location__icon {
  width: 20px;
  font-size: 1.6rem;
}

.booking {
  background: #FAFAFA;
  font-size: 1.8rem;
  padding: 40px 0;
}
.booking-box {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
  justify-content: center;
  text-align: center;
}
.operation {
  padding-bottom: 4rem;
}
.operation a {
  text-decoration: none;
}
.operation__title {
  margin: 1.5rem;
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 800px) {
  .operation__title {
    text-align: start;
  }
}
.operation__steps {
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .operation__steps {
    display: flex;
    flex-direction: column;
  }
}
.operation__step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  margin: 2rem 2.5rem;
  border-radius: 2rem;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
  height: 5rem;
  width: 100%;
}
.operation__step:hover {
  background: #f3ebfc;
}
.operation__step-link {
  margin-right: 6rem;
}
@media (max-width: 800px) {
  .operation__step-link {
    margin-right: 3.5rem;
  }
}
.operation__number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 10rem;
  transform: translateX(-50%);
}
.operation__icon {
  color: #7E7E7E;
  margin: 0 2rem;
  font-size: 1.5rem;
}
.operation__text {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
}

.restaurants {
  background-color: #FAFAFA;
  padding: 1rem;
  padding-bottom: 2rem;
}
.restaurants__cards {
  display: grid;
  grid-template-columns: repeat(1, 4fr);
  grid-gap: 2rem;
  max-width: 128rem;
  margin: auto;
}
@media (min-width: 800px) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 2fr);
  }
}
.restaurants__title {
  margin: 1.5rem;
  font-size: 2rem;
}
@media (min-width: 800px) {
  .restaurants__title {
    text-align: center;
  }
}
.restaurants a {
  text-decoration: none;
  margin: 1.5rem 0.5rem;
}

.restaurant__card {
  position: relative;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}
.restaurant__card-new {
  position: absolute;
  top: 15%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.restaurant__card-new p {
  background-color: #99e2d0;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.restaurant__card-img img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.restaurant__card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}
.restaurant__card-info {
  color: black;
  margin-left: 2rem;
}
.restaurant__card-name {
  font-size: 1.8rem;
  font-weight: 700;
}
.restaurant__card-city {
  font-size: 1.7rem;
  font-weight: 400;
}
.restaurant__card-heart i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: #FF79DA;
}

.header {
  height: 7rem;
  background-color: #FAFAFA;
}
.header__restaurant-return i {
  height: 7rem;
  font-size: 2.1rem;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  color: #353535;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__restaurant-img img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  padding: 2rem 1rem;
  margin-top: -5rem;
  background-color: #FAFAFA;
  position: relative;
  border-radius: 2.5rem;
  display: grid;
  grid-gap: 2rem;
}
@media (min-width: 80rem) {
  .menu {
    grid-gap: 4.6rem;
  }
}
.menu__header {
  width: 100%;
}
.menu__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 96rem;
  margin: auto;
}
.menu__header__title {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-family: "Shrikhand", cursive;
}
.menu__header__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 0.5rem;
  height: 0.5rem;
  color: #FF79DA;
}
.menu__contain-button {
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.menu__grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: repeat(1, 3fr);
}
@media (min-width: 40.9rem) {
  .menu__grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 110rem;
    margin: auto;
  }
}
.menu__grid__bloc {
  display: grid;
  grid-gap: 1.5rem;
}
@media (min-width: 40.9rem) {
  .menu__grid__bloc {
    grid-gap: 5rem;
  }
}
.menu__grid__title {
  font-weight: 400;
  text-transform: uppercase;
}

.menu__grid__case {
  cursor: pointer;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 6rem;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
}
.menu__grid__case-dish-and-price {
  display: grid;
  grid-template-rows: repeat(2, 2rem);
  grid-template-columns: repeat(6, 1fr);
  padding: 0.2rem 0.2rem;
}
.menu__grid__case-dish-title {
  grid-column: 1/span 5;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.5rem;
  letter-spacing: 0.01rem;
}
.menu__grid__case-dish-title p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__grid__case-dish-subtitle {
  grid-column: 1/span 5;
  font-size: 1.2rem;
  padding: 0.5rem;
  letter-spacing: 0.01rem;
}
.menu__grid__case-dish-subtitle p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__grid__case-price {
  font-weight: bold;
  grid-column: 6/7;
  padding: 0.5rem;
}
.menu__grid__case-price p {
  margin-left: 2rem;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
