.footer{
    padding: 1.5rem;
    background-color: $color-footer;
    .fr-box{
        padding: 4rem 0;
        @media (min-width: 800px) {
            padding-top: 5rem;
        }
        max-width: 128rem;
        margin: 0 auto;
        .fr-title{
            h2{
                margin-bottom: 1.5rem;
                font-family: $font-primary;
                font-size: 2.3rem;
                letter-spacing: 0.2rem;
                font-weight:500;
                color: white;
            }
        }
        .fr-links{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            @media (max-width: 800px) {
                flex-direction: column;
            }  
            .fr-link{
                margin-bottom: 1.5rem;
                font-size: 1.7rem;
                i{
                    margin-right: 0.5rem;
                    color: white;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}