.menu__grid {
    animation: staggeredDisplay-2 2s ease-out reverse;
    .menu__grid__bloc{
      animation: staggeredDisplay 700ms ease-out reverse;
        
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: 100ms * $i;
        }
      }
    }
  }

  @keyframes staggeredDisplay{
      to{
        opacity: 0;
        transform: translateY(-50px);
      }
      from{
        opacity: 1;
      }
  }
  @keyframes staggeredDisplay-2{
    to{
      opacity: 0;
      
    }
    from{
      opacity: 1;
    }
}